.abilities {
	background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
		url("../img/list.jpg") top;
	background-repeat: no-repeat;
	min-height: 100vh;
	display: flex;
	justify-content: center;
	// align-items: center;
	.title,
	.pokemon,
	.close,
	.carousel {
		display: none;
	}
	.boton-cerrar {
		background: none;
		font-size: 50px;
		color: #fff;
		border: none;
		cursor: pointer;
		position: absolute;
		right: 5%;
		top: 3%;
	}

	.pokemon_abilities {
		text-align: center;
		padding: 70px;
		color: #fccf00;
		font-size: 3rem;
		font-weight: bolder;
		text-shadow: -3.5px 2.5px 1px #0f5caf, 3.5px -2.5px 1px #0f5caf;
	}
	.abilities_card {
		color: white;
		background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
			url("../img/pokebola.jpg") center;
		background-size: cover;
		top: 25%;
	}

	.name_abilities {
		text-transform: capitalize;
		position: fixed;
		top: 32.5%;
		left: 45.75%;
		color: white;
		text-shadow: -3.5px 2.5px 1px #0f5caf, 3.5px -2.5px 1px #0f5caf;
		font-size: 2rem;
	}
}
// @import "./screen";
