.abilities {
	background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
		url("../img/list.jpg") top;
	background-repeat: no-repeat;
	min-height: 100vh;

	.title,
	.pokemon,
	.close,
	.carousel {
		display: none;
	}
	.boton-cerrar {
		background: none;
		font-size: 50px;
		color: #fff;
		border: none;
		cursor: pointer;
		position: absolute;
		right: 5%;
		top: 3%;
	}

	.pokemon_abilities {
		text-align: center;
		padding: 70px;
		color: #fccf00;
		font-size: 3rem;
		font-weight: bolder;
		text-shadow: -3.5px 2.5px 1px #0f5caf, 3.5px -2.5px 1px #0f5caf;
	}
}

// @import "./screen";
