$pokemon: (
	"Arbok": url("../img/arbok.png") center,
	"Ekans": url("../img/ekans.jpg"),
	"Fearow": url("../img/fearow.jpg"),
	"Nidorina": url("../img/nidorina.jpg") center,
	"Pikachu": url("../img/pikachu.jpg") center,
	"Raichu": url("../img/raichu.jpg") center,
	"Sandshrew": url("../img/sandshrew.jpg") center,
	"Sandslash": url("../img/sandslash.png") center,
	"Spearow": url("../img/spearow.jpg") center,
);
@each $pk, $url in $pokemon {
	##{$pk} {
		background: $url;
		background-size: cover;
	}
	#one-#{$pk} {
		background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.4)),
			url("../img/flip.jpg");
		background-position: center;
		background-size: cover;
	}
}
