.pokeball {
  background: url("../img/top.png") center, url("../img/bottom.png") center top 345px, black;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.pokeball .title {
  margin-top: 4rem;
  color: #fccf00;
  font-size: 4.5rem;
  font-weight: bolder;
  text-shadow: -3.5px 2.5px 1px #0f5caf, 3.5px -2.5px 1px #0f5caf;
}

.pokeball .open {
  width: 90px;
  height: 20px;
  background-color: black;
  opacity: 0;
}

.pokeball .list_div {
  display: none;
}

#Arbok {
  background: url("../img/arbok.png") center;
  background-size: cover;
}

#one-Arbok {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.4))), url("../img/flip.jpg");
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.4)), url("../img/flip.jpg");
  background-position: center;
  background-size: cover;
}

#Ekans {
  background: url("../img/ekans.jpg");
  background-size: cover;
}

#one-Ekans {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.4))), url("../img/flip.jpg");
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.4)), url("../img/flip.jpg");
  background-position: center;
  background-size: cover;
}

#Fearow {
  background: url("../img/fearow.jpg");
  background-size: cover;
}

#one-Fearow {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.4))), url("../img/flip.jpg");
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.4)), url("../img/flip.jpg");
  background-position: center;
  background-size: cover;
}

#Nidorina {
  background: url("../img/nidorina.jpg") center;
  background-size: cover;
}

#one-Nidorina {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.4))), url("../img/flip.jpg");
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.4)), url("../img/flip.jpg");
  background-position: center;
  background-size: cover;
}

#Pikachu {
  background: url("../img/pikachu.jpg") center;
  background-size: cover;
}

#one-Pikachu {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.4))), url("../img/flip.jpg");
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.4)), url("../img/flip.jpg");
  background-position: center;
  background-size: cover;
}

#Raichu {
  background: url("../img/raichu.jpg") center;
  background-size: cover;
}

#one-Raichu {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.4))), url("../img/flip.jpg");
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.4)), url("../img/flip.jpg");
  background-position: center;
  background-size: cover;
}

#Sandshrew {
  background: url("../img/sandshrew.jpg") center;
  background-size: cover;
}

#one-Sandshrew {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.4))), url("../img/flip.jpg");
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.4)), url("../img/flip.jpg");
  background-position: center;
  background-size: cover;
}

#Sandslash {
  background: url("../img/sandslash.png") center;
  background-size: cover;
}

#one-Sandslash {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.4))), url("../img/flip.jpg");
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.4)), url("../img/flip.jpg");
  background-position: center;
  background-size: cover;
}

#Spearow {
  background: url("../img/spearow.jpg") center;
  background-size: cover;
}

#one-Spearow {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.4))), url("../img/flip.jpg");
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.4)), url("../img/flip.jpg");
  background-position: center;
  background-size: cover;
}

.front,
.back {
  height: 250px;
  width: 185px;
  border-radius: 2%;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.front .name,
.back .name {
  position: fixed;
  bottom: 8%;
  color: white;
  text-shadow: -3.5px 2.5px 1px #0f5caf, 3.5px -2.5px 1px #0f5caf;
  font-size: 2rem;
}

.front form,
.back form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.front form .boton,
.back form .boton {
  font-size: large;
  bottom: 10%;
  position: fixed;
  color: black !important;
  background-color: rgba(255, 255, 255, 0.712) !important;
  border: 2px solid #0f5caf;
  border-radius: 2%;
  text-shadow: -0.5px 0.5px 1px #0f5caf, 0.5px -0.5px 1px #0f5caf;
  padding: 0 5% 1% 5%;
  cursor: pointer;
}

.front .dscrp,
.back .dscrp {
  position: fixed;
  font-weight: bolder;
  color: white;
  text-shadow: -3.5px 2.5px 1px #0f5caf, 3.5px -2.5px 1px #0f5caf;
  top: 30%;
  text-align: center;
}

.back {
  cursor: unset;
}

.list {
  background: url("../img/top.png") center top -201.5%, url("../img/bottom.png") center bottom -92.5% fixed, url("../img/list.jpg") top;
  background-repeat: no-repeat;
  -webkit-transition: background-position 0.3s ease;
  transition: background-position 0.3s ease;
}

.list .title,
.list .boton-cerrar,
.list .pokemon_abilities,
.list .abilities_card {
  display: none;
}

.list .close {
  width: 150px;
  height: 20px;
  background-color: black;
  opacity: 0;
  margin-left: 42.5%;
}

.list .pokemon {
  text-align: center;
  padding: 70px;
  color: #fccf00;
  font-size: 3rem;
  font-weight: bolder;
  text-shadow: -3.5px 2.5px 1px #0f5caf, 3.5px -2.5px 1px #0f5caf;
  -webkit-animation: transition 1.25s;
          animation: transition 1.25s;
}

.list .carousel {
  margin-left: 3%;
  margin-right: 3%;
  -webkit-animation: transition 1.25s;
          animation: transition 1.25s;
}

.list .carousel button {
  background-color: rgba(235, 16, 16, 0.1);
  color: white;
}

.list .carousel button:hover:enabled, .list .carousel button:focus:enabled {
  color: #673ab7;
  background-color: rgba(1, 0, 2, 0.35);
}

@-webkit-keyframes transition {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes transition {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media screen and (max-height: 680px) {
  .list {
    background: url("../img/top.png") center top -202.5%, url("../img/bottom.png") center bottom -127.5% fixed, url("../img/list.jpg") top;
    background-repeat: no-repeat;
    -webkit-transition: background-position 0.3s ease;
    transition: background-position 0.3s ease;
  }
}

@media screen and (max-width: 650px) {
  .list {
    background: url("../img/top.png") center top -142.5%, url("../img/bottom.png") center bottom -67.5% fixed, url("../img/list.jpg") top;
    background-repeat: no-repeat;
    -webkit-transition: background-position 0.3s ease;
    transition: background-position 0.3s ease;
  }
}

@media screen and (max-width: 650px) and (max-height: 680px) {
  .list {
    background: url("../img/top.png") center top -265.5%, url("../img/bottom.png") center bottom -127.5% fixed, url("../img/list.jpg") top;
    background-repeat: no-repeat;
    -webkit-transition: background-position 0.3s ease;
    transition: background-position 0.3s ease;
  }
  .list .pokemon {
    padding: 20px !important;
  }
}

@media screen and (min-width: 650px) and (max-width: 780px) {
  .list {
    background: url("../img/top.png") center top -142.5%, url("../img/bottom.png") center bottom -127.5% fixed, url("../img/list.jpg") top;
    background-repeat: no-repeat;
    -webkit-transition: background-position 0.3s ease;
    transition: background-position 0.3s ease;
  }
}

table {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 1.5rem;
  font-weight: normal;
  min-width: 400px;
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
          box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

thead tr {
  background-color: #0f5caf;
  color: #ffffff;
  text-align: left;
}

th,
td {
  padding: 12px 15px;
}

tbody tr {
  border-bottom: 1px solid #dddddd;
}

tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

tr:last-of-type {
  border-bottom: 2px solid #0f5caf;
}

.abilities {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.7)), to(rgba(0, 0, 0, 0.7))), url("../img/list.jpg") top;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../img/list.jpg") top;
  background-repeat: no-repeat;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.abilities .title,
.abilities .pokemon,
.abilities .close,
.abilities .carousel {
  display: none;
}

.abilities .boton-cerrar {
  background: none;
  font-size: 50px;
  color: #fff;
  border: none;
  cursor: pointer;
  position: absolute;
  right: 5%;
  top: 3%;
}

.abilities .pokemon_abilities {
  text-align: center;
  padding: 70px;
  color: #fccf00;
  font-size: 3rem;
  font-weight: bolder;
  text-shadow: -3.5px 2.5px 1px #0f5caf, 3.5px -2.5px 1px #0f5caf;
}

.abilities .abilities_card {
  color: white;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url("../img/pokebola.jpg") center;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/pokebola.jpg") center;
  background-size: cover;
  top: 25%;
}

.abilities .name_abilities {
  text-transform: capitalize;
  position: fixed;
  top: 32.5%;
  left: 45.75%;
  color: white;
  text-shadow: -3.5px 2.5px 1px #0f5caf, 3.5px -2.5px 1px #0f5caf;
  font-size: 2rem;
}

* {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
/*# sourceMappingURL=index.css.map */