.pokeball {
  background: url("../img/top.png") center, url("../img/bottom.png") center top 345px, black;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.pokeball .title {
  margin-top: 4rem;
  color: #fccf00;
  font-size: 4.5rem;
  font-weight: bolder;
  text-shadow: -3.5px 2.5px 1px #0f5caf, 3.5px -2.5px 1px #0f5caf;
}

.pokeball .open {
  width: 90px;
  height: 20px;
  background-color: black;
  opacity: 0;
}

.pokeball .list_div {
  display: none;
}

.front,
.back {
  height: 250px;
  width: 130%;
  border-radius: 2%;
  border: none;
  cursor: pointer;
}

.front h3,
.back h3 {
  color: white;
  position: relative;
  margin-top: 70%;
  text-shadow: -3.5px 2.5px 1px #0f5caf, 3.5px -2.5px 1px #0f5caf;
  margin-right: 7.5%;
  text-align: center;
  font-size: 2em;
}

.back {
  cursor: unset;
}

#Arbok {
  background: url("../img/arbok.png") center;
  background-size: cover;
}

#Arbok button,
#Arbok p {
  opacity: 0;
}

#one-Arbok {
  background: url("../img/pokebola.jpg");
  background-position: right 47.5% top 10%;
  background-size: cover;
}

#Ekans {
  background: url("../img/ekans.jpg");
  background-size: cover;
}

#Ekans button,
#Ekans p {
  opacity: 0;
}

#one-Ekans {
  background: url("../img/pokebola.jpg");
  background-position: right 47.5% top 10%;
  background-size: cover;
}

#Fearow {
  background: url("../img/fearow.jpg");
  background-size: cover;
}

#Fearow button,
#Fearow p {
  opacity: 0;
}

#one-Fearow {
  background: url("../img/pokebola.jpg");
  background-position: right 47.5% top 10%;
  background-size: cover;
}

#Nidorina {
  background: url("../img/nidorina.jpg") center;
  background-size: cover;
}

#Nidorina button,
#Nidorina p {
  opacity: 0;
}

#one-Nidorina {
  background: url("../img/pokebola.jpg");
  background-position: right 47.5% top 10%;
  background-size: cover;
}

#Pikachu {
  background: url("../img/pikachu.jpg") center;
  background-size: cover;
}

#Pikachu button,
#Pikachu p {
  opacity: 0;
}

#one-Pikachu {
  background: url("../img/pokebola.jpg");
  background-position: right 47.5% top 10%;
  background-size: cover;
}

#Raichu {
  background: url("../img/raichu.jpg") center;
  background-size: cover;
}

#Raichu button,
#Raichu p {
  opacity: 0;
}

#one-Raichu {
  background: url("../img/pokebola.jpg");
  background-position: right 47.5% top 10%;
  background-size: cover;
}

#Sandshrew {
  background: url("../img/sandshrew.jpg") center;
  background-size: cover;
}

#Sandshrew button,
#Sandshrew p {
  opacity: 0;
}

#one-Sandshrew {
  background: url("../img/pokebola.jpg");
  background-position: right 47.5% top 10%;
  background-size: cover;
}

#Sandslash {
  background: url("../img/sandslash.png") center;
  background-size: cover;
}

#Sandslash button,
#Sandslash p {
  opacity: 0;
}

#one-Sandslash {
  background: url("../img/pokebola.jpg");
  background-position: right 47.5% top 10%;
  background-size: cover;
}

#Spearow {
  background: url("../img/spearow.jpg") center;
  background-size: cover;
}

#Spearow button,
#Spearow p {
  opacity: 0;
}

#one-Spearow {
  background: url("../img/pokebola.jpg");
  background-position: right 47.5% top 10%;
  background-size: cover;
}

.list {
  background: url("../img/top.png") center top -182.5%, url("../img/bottom.png") center bottom -92.5% fixed, url("../img/list.jpg") top;
  background-repeat: no-repeat;
  -webkit-transition: background-position 0.3s ease;
  transition: background-position 0.3s ease;
}

.list .title {
  display: none;
}

.list .close {
  width: 150px;
  height: 20px;
  background-color: black;
  opacity: 0;
  margin-left: 42.5%;
}

.list .pokemon {
  text-align: center;
  padding: 75px;
  color: #fccf00;
  font-size: 3rem;
  font-weight: bolder;
  text-shadow: -3.5px 2.5px 1px #0f5caf, 3.5px -2.5px 1px #0f5caf;
  -webkit-animation: transition 1.25s;
          animation: transition 1.25s;
}

.list .carousel {
  margin-left: 3%;
  margin-right: 3%;
  -webkit-animation: transition 1.25s;
          animation: transition 1.25s;
}

.list .carousel button {
  background-color: rgba(235, 16, 16, 0.1);
  color: white;
}

.list .carousel button:hover:enabled, .list .carousel button:focus:enabled {
  color: #673ab7;
  background-color: rgba(1, 0, 2, 0.35);
}

@-webkit-keyframes transition {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes transition {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

* {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
/*# sourceMappingURL=index.css.map */